<nav class="bg-white shadow-navbar min-h-24 flex items-center justify-center">
  <ul class="flex items-center justify-evenly w-full">
    @for (item of navbarList; track item.location) {
    <li>
      <a
        [routerLink]="item.location"
        routerLinkActive="text-secondary font-medium"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center font-poppins text-primary text-[10px] uppercase gap-2 hover:text-secondary transition-all ease-in-out hover:scale-110"
      >
        <app-svg-icon
          [iconName]="item.iconName"
          [width]="26"
          [height]="26"
        ></app-svg-icon>
        <span>{{ item.name }}</span>
      </a>
    </li>
    }
  </ul>
</nav>
