<main
  class="relative z-[1] bg-primary h-dvh flex flex-col items-center w-full justify-center px-9 overflow-hidden"
>
  <div class="text-white/5 z-0 absolute -top-14 translate-x-32">
    <app-svg-icon iconName="logo" [height]="320" [width]="290"></app-svg-icon>
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 mt-auto"
  >
    <app-logo className="mb-12" />
    <app-input placeholder="E-mail" type="email" formControlName="email" />
    <app-input placeholder="Senha" type="password" formControlName="password" />
    <app-button
      variant="secondary"
      className="uppercase mt-12"
      [type]="'submit'"
      [disabled]="loginForm.invalid"
      >Entrar</app-button
    >
  </form>
  <p class="text-white text-base self-end justify-end mt-auto mb-24 mx-auto">
    Ainda não tem cadastro?
    <a class="underline" routerLink="/cadastro">Criar conta</a>
  </p>
</main>
