<div
  class="group bg-white border border-gray-100 hover:border-gray-200 shadow-md rounded-lg px-4 pt-6 pb-7 text-primary min-h-72 w-[240px] max-w-full text-[18px]"
>
  <img
    alt="Carro {{ car.name }}"
    src="assets/images/default-car.jpg"
    class="min-h-32 object-fill w-full mb-2 group-hover:scale-110 transition-all duration-300"
  />
  <h3 class="font-bold mb-1 group-hover:text-secondary">{{ car.name }}</h3>
  <div class="text-base">
    <p>{{ car.type }}</p>
    <p>Motor {{ car.engine }}</p>
    <p>{{ car.size }} {{ car.size | pluralize : 'lugar' : 'lugares' }}</p>
  </div>
</div>
