<app-toggle-button
  className="flex items-center gap-2 absolute top-4 right-4 text-sm"
  [isActive]="false"
  (toggle)="openCreateCarDrawer()"
>
  <span class="rotate-45">
    <app-svg-icon class="text-secondary" iconName="close" />
  </span>
  Registrar Carro
</app-toggle-button>
<div class="flex px-8 gap-3.5 -mt-5 justify-center mb-8">
  <label
    class="bg-white max-w-full px-4.5 py-2 font-poppins min-h-14 items-center gap-2.5 rounded-lg text-sm flex shadow-lg focus:outline-none focus:ring-2 focus:ring-primary cursor-pointer"
  >
    <app-svg-icon iconName="search" class="text-secondary" />
    <app-debounced-input
      name="search"
      placeholder="Buscar carro"
      className="max-w-40 sm:max-w-96"
      (onChange)="onSearch($event)"
      [debounceTime]="700"
      [value]="searchForm.get('name')?.value"
    />
  </label>
  <button
    routerLink="/inicio/filtrar"
    (click)="onNavigateFilters()"
    class="bg-white w-26 max-w-full px-4.5 cursor-pointer font-poppins min-h-14 rounded-lg text-sm gap-2 flex items-center justify-center shadow-lg"
  >
    <app-svg-icon iconName="filter" class="text-secondary" [height]="20" />
    Filtrar
  </button>
</div>
@if (hasFilterActive) {
<app-list-cars />
} @else {
<app-last-reservations />
}
<app-create-car-drawer
  [isOpen]="drawerOpen"
  (closeDrawer)="drawerOpen = false"
/>
