<div
  *ngIf="isOpen"
  (click)="onClose()"
  class="fixed inset-0 bg-black/50 z-10"
></div>
<div
  [ngClass]="[
    'fixed top-0 w-96 max-w-full bg-white sm:rounded-l-lg rounded-none inset-y-0 shadow-card transition-[right_0.3s_ease-in-out] z-10 py-4 px-6 flex flex-col',
    isOpen ? 'right-0' : '-right-96'
  ]"
>
  <header class="flex justify-between items-center mb-4">
    <h2
      class="text-primary text-[18px] font-bold transition-all md:text-center"
    >
      Detalhes
    </h2>
    <button
      class="cursor-pointer text-gray-500 hover:text-secondary"
      (click)="onClose()"
    >
      <app-svg-icon iconName="close" />
    </button>
  </header>
  <section *ngIf="car; else noData" class="space-y-8">
    <div class="grid grid-cols-2 gap-2 bg-tertiary/10 p-4 text-primary">
      <h6 class="font-semibold">Nome:</h6>
      <p>{{ car.name }}</p>
      <h6 class="font-semibold">Ano:</h6>
      <p>{{ car.year }}</p>
      <h6 class="font-semibold">Tipo:</h6>
      <p>{{ car.type }}</p>
      <h6 class="font-semibold">Motor:</h6>
      <p>{{ car.engine }}</p>
      <h6 class="font-semibold">Qtd. lugares</h6>
      <p>{{ car.size }}</p>
      <h6 class="font-semibold">Reservado:</h6>
      <p
        [ngClass]="[
          'uppercase font-semibold',
          car.isReserved ? 'text-green-600' : 'text-primary'
        ]"
      >
        {{ car.isReserved ? 'Sim' : 'Não' }}
      </p>
    </div>
    <app-button
      variant="success"
      className="uppercase font-medium"
      (click)="onCreateReservation()"
      *ngIf="!car.isReserved"
      [isLoading]="isLoading"
    >
      Reservar Carro
    </app-button>
    <app-button
      *ngIf="car.isReserved && carReservation?.userId == userId"
      className="uppercase font-medium"
      (click)="onReleaseCar()"
      [isLoading]="isLoading"
    >
      Liberar Carro
    </app-button>
    <app-button
      variant="secondary"
      className="uppercase !font-medium !text-base mt-2"
      *ngIf="showAdminActions"
      (click)="onDeleteCar()"
      >Excluir carro</app-button
    >
  </section>
  <ng-template #noData>
    <p>Nenhum carro selecionado.</p>
  </ng-template>
</div>
